<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.dx.mynotes.dao.NoteBookDao">
    <select id="findByUserId" parameterType="string" resultType="com.dx.mynotes.entity.NoteBook">
        select * from notebook where user_id=#{userId}
    </select>
    <insert id="addNoteBook" parameterType="com.dx.mynotes.entity.NoteBook">
        insert into notebook(
        notebook_id,
        user_id,
        notebook_name
        )
        values(
        #{notebook_id},
        #{user_id},
        #{notebook_name}
        )
    </insert>
</mapper>