<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!--命名空间应该是对应接口的包名+接口名 -->
 <mapper namespace="com.dx.mynotes.dao.NoteBookDao">
 <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="findByUserId" parameterType="String" resultType="com.dx.mynotes.entity.NoteBook">
        select * from notebook where user_id=#{userId}
    </select>
    <insert id="addNoteBook" parameterType="com.dx.mynotes.entity.NoteBook">
        insert into notebook(
        notebook_id,
        user_id,
        notebook_type_id,
        notebook_name,
        notebook_createtime
        )
        values(
        #{notebook_id},
        #{user_id},
        #{notebook_type_id},
        #{notebook_name},
        #{notebook_createtime}
        )
    </insert>
</mapper>