<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.dx.mynotes.dao.NotesDao">
	<!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
	<!-- 增加笔记 -->
	<insert id="addNotes" parameterType="com.dx.mynotes.entity.Notes">
		insert into notes(
		notes_id,
		notebook_id,
		user_id,
		notes_status_id,
		notes_type_id,
		notes_title,
		notes_content,
		notes_createtime
		)
		values(
		#{notes_id},
		#{notebook_id},
		#{user_id},
		#{notes_status_id},
		#{notes_type_id},
		#{notes_title},
		#{notes_content},
		#{notes_createtime}
		)
	</insert>

	<!-- 删除笔记（可以理解为动态更新）-->
	<update id="deleteNotes" parameterType="com.dx.mynotes.entity.Notes">
		update notes
		<set>
			<if test="notes_type_id != null">
				notes_type_id=#{notes_type_id},
			</if>
			<if test="notes_status_id != null">
				notes_status_id=#{notes_status_id},
			</if>
			<if test="notebook_id != null">
				notebook_id=#{notebook_id},
			</if>
			<if test="notes_title != null">
				note_title=#{note_title},
			</if>
			<if test="notes_content != null">
				notes_content=#{notes_content}
			</if>
			<if test="notes_last_modifytime != null">
				notes_last_modifytime=#{notes_last_modifytime}
			</if>
		</set>
		where notes_id=#{notes_id}
	</update>

	<!-- 修改笔记 -->
	<update id="updateNotes" parameterType="com.dx.mynotes.entity.Notes">
		update notes 
		set notes_title=#{notes_title},notes_content=#{notes_content}
		where notes_id=#{notes_id}
	</update>

	<!-- 通过笔记本ID获得该笔记本内所有笔记 -->
	<select id="findByNoteBook_Id" parameterType="String" resultType="Map">
		select notes_id,notes_title from notes where notebook_id=#{notebook_id} 
	</select>

	<!-- 通过笔记ID获得笔记所有内容 -->
	<select id="findByNotes_Id" parameterType="String" resultType="com.dx.mynotes.entity.Notes">
		select * from notes where notes_id=#{notes_id}
	</select>
</mapper>